@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

body {
  font-family: Nunito Sans;
  margin: 0;
}

header h1 {
  font-size: 20px;
}
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background-color: #fff;
  padding: 0 2rem;
  box-shadow: 0px 3px 4px 0 rgb(210, 209, 209);
}
header ul a {
  color: black;
  text-decoration: none;
}
.CountryCardContainer {
  display: grid;
  width: 90%;
  grid-template-columns: 1fr;
  margin: auto;
}
.card {
  margin: 2rem 1rem;
  box-shadow: 1px 5px 5px 2px rgb(210, 209, 209);
  border-radius: 10px;
  width: 400px;
  height: fit-content;
  padding-bottom: 1rem;
}
.card img {
  display: block;
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.card-content {
  padding: 0 1em;
}
.card-content p {
  line-height: 10px;
}
/* styling for saved-countries page */
.saved-countries {
  margin: 2rem 0 0 2rem;
}
form input {
  width: 500px;
  height: 50px;
  margin: 1rem 0;
  padding: 0 10px;
  display: block;
  border-radius: 5px;
  border: solid 2px rgb(210, 209, 209);
  box-shadow: 1px 2px 5px rgb(210, 209, 209);
}
textarea {
  border-radius: 5px;
border: solid 2px rgb(210, 209, 209);
  box-shadow: 1px 2px 5px rgb(210, 209, 209);
}
form button {
  display: block;
  background-color: #7772CE;
  border: none;
  height: 20px;
  width: 80px;
  color: rgb(225, 222, 222);
}
/* styling for CountryDetail page */

.country-detail img{
overflow: clip;
width: 450px;
border-radius: 10px;
}
.country-detail {
display: grid;
grid-template-columns: 1fr;
gap: 2rem;
width: 90%;
margin: 2rem auto;
}
.country-detail button {
  width: 90px;
  height: 30px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 2px rgb(210, 209, 209);
  border: solid 2px rgb(210, 209, 209);
}
@media (min-width: 540px) {
  .CountryCardContainer {
    grid-template-columns: 1fr 1fr;
  }
    .card {
    width: 300px;
  }
  header h1 {
    font-size: 2rem;
  }
}
@media (min-width: 800px) {
  .CountryCardContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .country-detail {
  margin: none;
}
.country-detail img {
    width: 500px;
}
.country-detail-container {
  display: flex;
  gap: 8rem;
}
}
@media (min-width: 1100px) {
  .CountryCardContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
